
.jumbotron {
    padding-top: 2rem;
    background-color: #add8e6;
}

#projects {
    background-color: #add8e6;
}

.end {
    background-color: #01827f;
}

section {
    padding-top: 5rem;
}

#home {
    
}